$color-border-light: #dcdcdc
$color-semi-transparent-white: rgba(255, 255, 255, 0.8)
$color-semi-transparent-light-blue: rgba(173, 216, 250, 0.8)
$color-dark-blue: #003366
$color-light-blue: #add8e6
$color-border-light-hover: #b0c4de
$color-lightest-blue: #e0ffff
$color-lighter-blue: #4aa1d7
